.screen, .modal {
    transition: var(--transition);
}
.screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
}
.dark {
    background-color: var(--dark);
    pointer-events: auto;
}
.light {
    background-color: initial;
    pointer-events: none;
}
.modal {
    background-color: #fff;
    color: var(--blue);
    width: 350px;
    height: 200px;
    margin: auto;
    border: 3px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
}
.icon {
    color: var(--blue);
    font-size: 18px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: var(--transition);
}
.icon:hover {
    color: var(--navy-blue);
}
.button {
    color: #fff;
    background-color: var(--blue);
    padding: 6px 15px;
    border: none;
    border-radius: 4px;
    box-shadow: #32325d40 0px 4px 12px -2px, #0000004d 0px 3px 7px -3px;
    font-size: 15px;
    display: inline-block;
    position: absolute;
    left: 25px;
    bottom: 25px;
    cursor: pointer;
    transition: var(--transition);
}
.button:hover {
    background-color: var(--navy-blue);
}
.hidden {
    transform: translateY(-100%);
}
.shown {
    transform: translateY(100px);
}